<header class="d-flex flex-row">
  <nav
    class="justify-content-between navbar navbar-expand navbar-dark bg-dark fixed-top"
  >
    <div class="mx-md-3">
      <a class="navbar-brand mx-2" href="/">BookMemo</a>
    </div>
    <div class="mx-md-3">
      <div class="row">
        <a class="nav-link col" th:href="@{/memo/}">ホーム</a>
        <a class="nav-link col" th:href="@{/profile/}">プロフィール</a>
        <form class="col bg-dark" action="/logout" method="post">
          <input
            type="hidden"
            th:name="${_csrf.parameterName}"
            th:value="${_csrf.token}"
          />
          <button class="btn nav-link">ログアウト</button>
        </form>
      </div>
    </div>
  </nav>
</header>
