
<!-- Post header-->
<header class="mb-4">
	<!-- Post title-->
	<label>タイトル</label>
	<input
		type="text"
		id="title"
		name="title"
		class="form-control memo-input"
		th:value="*{title}"
		maxlength="30"
		placeholder="タイトル"
	/>
	<div th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
	<!-- Post meta content-->
	<label>書籍名</label>
	<input
		type="text"
		id="bookName"
		name="bookName"
		class="form-control memo-input"
		th:value="*{bookName}"
		maxlength="50"
		placeholder="書籍名"
	/>
	<div th:if="${#fields.hasErrors('bookName')}" th:errors="*{bookName}"></div>
	<!-- Post categories-->
	<label>カテゴリ</label>
	<input
		type="text"
		class="form-control"
		id="category"
		name="category"
		th:value="*{category}"
		maxlength="30"
		placeholder="カテゴリ名"
	/>
	<div th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></div>
	<label class="mt-3">コンテンツ</label>
</header>
<!-- Post content-->
<textarea
	class="mb-3 memo-content"
	id="content"
	name="content"
	rows="100"
	cols="100"
	th:field="*{content}"
	maxlength="3000"
	placeholder="内容をここに入力"
>
</textarea>
<div th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></div>

