<section class="d-flex flex-column mx-4">
  <div class="card my-2">
    <div class="card-header">メモ新規作成</div>
    <div class="card-body row justify-content-evenly">
      <div class="row justify-content-center">
        <a
          href="/memo/create"
          class="col-5 btn btn-success align-middle align-center my-2"
        >
          新規作成
        </a>
      </div>
      <div class="row justify-content-center" th:if="${admin}!=null">
        <a
          href="/admin"
          class="col-5 btn btn-danger align-middle align-center my-2"
          th:text="${admin}"
        >
        </a>
      </div>
    </div>
  </div>
  <div class="card my-2">
    <div class="card-body">
      <form
        th:action="@{'/memo/book?page=1&selectBook='+${selectBook_value}}"
        method="GET"
      >
        <div class="input-group">
          <input
            class="form-control"
            type="text"
            name="selectBook"
            id="selectBook"
            th:value="${selectBook_value}"
            placeholder="書籍名検索"
            aria-label="Enter search book name..."
            aria-describedby="button-search"
          />
          <button class="btn btn-dark button-search" id="" type="submit">
            検索
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="card my-2">
    <div class="card-header">カテゴリ一覧</div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12">
          <ul class="list-unstyled mb-0" th:each="category:${categoryList}">
            <li>
              <a
                class="list-group-item"
                th:text="${category}"
                th:href="@{'/memo/category?page=1&selectCategory='+${category}}"
              >
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="card my-2">
    <div class="card-body">
      <form
        th:action="@{'/memo/title?page=1&selectTitle='+${selectTitle_value}}"
        method="GET"
      >
        <div class="input-group">
          <input
            class="form-control"
            type="text"
            name="selectTitle"
            id="selectTitle"
            th:value="${selectTitle_value}"
            placeholder="タイトル検索"
            aria-label="Enter search title..."
            aria-describedby="button-search"
          />
          <button class="btn btn-dark button-search" id="" type="submit">
            検索
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
