<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>BookMemo管理者画面</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />
	<link rel="stylesheet" th:href="@{/css/memo.css}" />
	<link rel="stylesheet" href="../../static/css/memo.css" />
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
		crossorigin="anonymous"></script>
</head>

<body>
	<header th:include="common/header"></header>
	<div class="container w-100 h-100 my-5">
<script th:inline="javascript">
				/*<![CDATA[*/
				let message = /*[[${message}]]*/ "default";
				if (message) {
					window.alert(message);
				}
				/*]]>*/
			</script>
		<h1 class="fs-3 mt-3" th:text="${name}+'さんのメモ一覧'"></h1>
		<table class="table my-5">
			 <thead class="thead-dark">
			<tr class="my-3">
				<th scope="col">ID</th>
				<th scope="col">Title</th>
				<th scope="col">Content</th>
				<th scope="col">Category</th>
				<th scope="col">Book Name</th>
				<th scope="col">Updated</th>
				<th scope="col">Created</th>
			</tr>
			</thead>
			 <tbody th:each="memo:${memoList}">
				<tr class="my-2">
					<th scope="row" th:text="${memo.memoId}"></td>
					<td th:text="${memo.title}"></td>
					<td th:text="${memo.content}"></td>
					<td th:text="${memo.category}"></td>
					<td th:text="${memo.bookName}"></td>
					<td th:text="${#dates.format(memo.updatedDate, 'yyyy/MM/dd HH:mm')}"></td>
					<td th:text="${#dates.format(memo.createdDate, 'yyyy/MM/dd HH:mm')}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<footer class="py-3 bg-dark" th:include="common/footer"></footer>
	</footer>
</body>

</html>
