<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<meta name="description" content="" />
		<meta name="author" content="" />
		<title>BookMemo削除確認</title>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" th:href="@{/css/memo.css}" />
		<link rel="stylesheet" href="../../static/css/memo.css" />
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
			crossorigin="anonymous"
		></script>
	</head>

	<body>
		<header th:include="common/header"></header>
		<div class="container w-75 my-5">
			<h1 class="mt-4" th:text="${account.accountName}+'さんのProfile'"></h1>
			<form action="" method="post" th:object="${account}">
				<input type="hidden" name="id" id="id" th:value="*{id}" />
				<div class="form-group row mt-3">
					<label for="" class="col-form-label fs-5">Account Name</label>
					<p
						name="accountName"
						id="accountName"
						th:text="*{accountName}"
						class="col-auto"
					></p>
				</div>

				<div class="form-group row mt-2">
					<label for="" class="col-form-label fs-5">Email</label>
					<p id="email" class="col-auto" name="email" th:text="*{email}"></p>
				</div>

				<div class="form-group row mt-2">
					<label for="" class="col-form-label fs-5">Current Password</label>
					<p
						name="password"
						id="password"
						class="col-auto"
						th:text="*{password}"
					></p>
				</div>

				<br />
				<div class="form-group row mt-4">
					<div class="col-5"></div>
					<button type="submit" class="btn btn-danger col-2">削除</button>
					<div class="col-5"></div>
				</div>
			</form>
			<div class="row mt-4">
				<div class="col-5"></div>
				<a th:href="@{/admin}" class="btn btn-dark col-2">戻る</a>
				<div class="col-5"></div>
			</div>
		</div>
		<footer class="py-3 bg-dark" th:include="common/footer"></footer>
	</body>
</html>
