a.btn-flat {
  display: inline-block;
  width: 200px;
  text-align: center;
  background-color: #000;
  border: 2px solid #000;
  font-size: 16px;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 24px;
  border-radius: 4px;
  position: relative;
}

a.btn-flat span {
  position: relative;
  z-index: 1;
}

a.btn-flat::before,
a.btn-flat::after {
  content: "";
  display: block;
  background-color: #fff;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: 0.2s;
}

a.btn-flat::before {
  left: 0;
}

a.btn-flat::after {
  right: 0;
}

a.btn-flat:hover:before,
a.btn-flat:hover:after {
  width: 0;
  background-color: #fff;
}

a.btn-flat:hover {
  color: #fff;
}

.memo-button {
  margin-bottom: 5px;
  margin-right: 0;
  margin-left: auto;
}
.memo-input {
  margin-bottom: 5px;
}
