<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="css/style.css">
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
			crossorigin="anonymous"
		/>
		<title>BookMemo</title>
	</head>
	<body>
		<header>
			<h1>BookMemo</h1>
			<a href="signup">Signup</a>
			<a href="login">Login</a>
		</header>
		<article>
			<h2>BookMemo</h2>
			<p>
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas corrupti
				corporis eum illum sit deserunt at recusandae similique, aliquid eos
				adipisci nam quia consequuntur impedit quibusdam repudiandae. Provident
				earum alias nobis praesentium nostrum beatae omnis quisquam aperiam
				reiciendis. Unde sequi cupiditate modi? Iure nam soluta nostrum ducimus
				voluptate sed id!
			</p>
		</article>
		<footer>Created by AR44</footer>
	</body>
</html>
